/*RESET CSS*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    font-family: 'Big Shoulders Display', cursive;
    vertical-align: baseline;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

/*CIHAZLAR*/
.tablet-header{
    display: none;
}
.tablet-grid1{
    display: none;
}
.tablet-grid2{
    display: none;
}
.tablet-grid3{
    display: none;
}
.desktop-header{
    display: none;
}
.desktop-grid1{
    display: none;
}
.desktop-grid2{
    display: none;
}
.desktop-grid3{
    display: none;
}
.black-screen-desk{
    display: none;
}



/*MOBIL*/

body{
    line-height: 1;
    min-width: 375px;
    max-width: 500px;
    min-height: 100vh;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


header img{
    width: 100%;
}

header{
    color: rgb(21, 21, 21);
}

header h1{
    margin: 2% 3%;
    font-size: 3.5em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 800;
}

header p{
    margin: 0 3%;
    font-size: 1.125em;
    font-weight: lighter;
    line-height: 1.6em;
    color: rgb(68, 68, 68);
    font-family: 'Outfit', sans-serif;
}

.button {
    display: flex;
    height: 72px;
    margin: 6% 3%;
    width: 260px;
    align-items: center;
    text-transform: uppercase;
    background-color: rgb(21, 21, 21);
    text-align: center;
    cursor: pointer;
}

.button a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    font-weight: 800;
    letter-spacing: 0.25em;
    margin-left: 10%;
    cursor: pointer;
}

.button:after{
    content: url(./assets/icon-arrow-right.svg);
    position: relative;
    left: 9%;
    line-height: 5rem;
    width: 56px;
    height: 72px;
    background-color: rgb(213, 150, 108);
}

.button:hover {
    background-color: rgb(213, 150, 108);
}

.button:hover::after {
    background-color: rgb(21, 21, 21);
}


/*CONTENT*/

.content{
    margin: 15% 3%;
}

.mobile-grid1 img{
    width: 100%;
}

.content img:hover{
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
}

.content h2{
    margin-top: 2%;
    font-size: 4em;
    font-weight: 700 ;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: rgb(21, 21, 21);
}

.content p{
    font-size: 1.125em;
    font-weight: lighter;
    line-height: 1.6em;
    color: rgb(68, 68, 68);
    font-family: 'Outfit', sans-serif;
    padding-right: 5%;
}

.mobile-grid2 img{
    margin-top: 3%;
    width: 100%;
}

.mobile-grid3 img{
    margin-top: 3%;
    width: 100%;
}

/*INSPIRE*/

.inspiring-section{
    margin-top: 3%;
    background-color: rgb(21, 21, 21);
}

.inspiring-section:hover{
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
}

.inspiring-title{
    padding: 8%;
}

.inspiring-title h2{
    height: 100%;
    letter-spacing: 0.08em;
    color: rgb(255, 255, 255);
}

.inspiring-title p{
    color: rgb(255, 255, 255);
    padding: 0;
}


/*FOOTER*/
footer{
    margin-top: 10%;
    background-color: rgb(21, 21, 21);
    width: 100%;
}

.contacts{
    margin: 10% 8%;
}

.contacts h3{
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    font-weight: 800;
    text-transform: uppercase;
}

.contacts p{
    margin-top: 10%;
    color: rgb(255, 255, 255);
    font-family: 'Outfit', sans-serif;
    font-size: 1em;
    line-height: 1.6em;
}

.icons{
    margin-top: 10%;
}

svg{
    margin-right: 5%;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

svg:hover{
    color: rgb(213, 150, 108);
}



@media screen and (min-width: 500px) and (max-width: 768px) {

    body {
        margin: 0 auto;
    }

}

@media screen and (min-width: 768px) {

    .mobile-header {
        display: none;
    }
    .mobile-grid1 {
        display: none;
    }
    .mobile-grid2 {
        display: none;
    }
    .mobile-grid3 {
        display: none;
    }



    body {
        margin: 0;
        min-width: 768px;
        max-width: 930px;
    }



    header {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: repeat(5, 1fr);
        gap: 0;
    }

    .tablet-header {
        display: block;
        width: 437px;
        height: 700px;
        grid-column: 1/4;
        grid-row: 1/6;
    }

    header img {
        width: 100%;
    }

    header h1 {
        font-weight: 800;
        grid-column: 3/4;
        grid-row: 2/4;
        font-size: 5.5em;
    }

    header p {
        width: 20em;
        grid-column: 3/4;
        grid-row: 4;
    }

    .button {
        grid-column: 3/4;
        grid-row: 5/7;
        width: 260px;
    }


    .content {
        margin: 10% 6%;
        display: grid;
        gap: .5rem;
        grid-template-columns: 1fr 18% 1fr;
        grid-template-rows: auto auto 1fr;
    }

    .grid-title {
        grid-column: 1;
        grid-row: 1/2;
    }

    .grid-title h2 {
        font-size: 4.5em;
    }


    .tablet-grid1 {
        display: block;
        grid-column: 2/4;
        grid-row: 1/2;
    }

    .tablet-grid1 img {
        width: 100%;
    }

    .tablet-grid2 {
        display: block;
        grid-column: 1/3;
        grid-row: 2/4;
    }

    .tablet-grid2 img {
        width: 100%;
    }

    .tablet-grid3 {
        display: block;
        grid-column: 3/4;
        grid-row: 2/3;
    }

    .tablet-grid3 img {
        width: 100%;
    }

    .inspiring-section{
        grid-column: 3/4;
        grid-row: 3;
        width: 100%;
        margin: 0;
    }

    .contacts{
        margin: 5% 6% 10% 6%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .contacts p{
        width: 40%;
        margin: 0;
    }

    .icons{
        margin: 0;
        width: 15%;
    }
}


@media screen and (min-width: 950px) and (max-width: 1200px) {

    body {
        margin: 0 auto;
    }
}

@media screen and (min-width: 1200px){

    .tablet-header{
        display: none;
    }
    .tablet-grid1{
        display: none;
    }
    .tablet-grid2{
        display: none;
    }
    .tablet-grid3{
        display: none;
    }


    body{
        min-width: 1200px;
        max-width: 1500px;
        margin: 0 auto;
    }

    header {
        display: grid;
        grid-template-columns: 15% 15% 15% 18% 15% 15% 15% 15%;;
        grid-template-rows: repeat(3, 25%);
        gap: 0;
    }

    .black-screen-desk{
        display: block;
        width:450px;
        height: 800px;
        background-color: rgb(21, 21, 21);
        grid-column: 1/3;
        grid-row: 1/5;
    }

    .desktop-header {
        display: block;
        width: 540px;
        height: 800px;
        grid-column: 3/6;
        grid-row: 1/5;
    }

    header img {
        width: 100%;
    }

    header h1 {
        font-size: 6em;
        font-weight: 800;
        grid-column: 2/4;
        grid-row: 2/4;
        color: rgb(255, 255, 255);
        mix-blend-mode: difference;
        margin: 0;
    }

    header p {
        width: 20em;
        grid-column: 5;
        grid-row: 2;
    }

    .button {
        grid-column: 5;
        grid-row: 3;
        width: 260px;
    }

    .content {
        margin: 10% 12%;
        display: grid;
        gap: 1.5rem;
        grid-template-columns: 1fr 15% 1fr;
        grid-template-rows: auto auto 1fr;
    }

    .grid-title {
        grid-column: 1;
        grid-row: 1/2;
    }

    .grid-title h2 {
        font-size: 5.5em;
    }

    .desktop-grid1 {
        display: block;
        grid-column: 2/4;
        grid-row: 1/2;
    }

    .desktop-grid1 img {
        width: 100%;
    }

    .desktop-grid2 {
        display: block;
        grid-column: 1/3;
        grid-row: 2/4;
    }

    .desktop-grid2 img {
        width: 100%;
    }

    .desktop-grid3 {
        display: block;
        grid-column: 3/4;
        grid-row: 2;
    }

    .desktop-grid3 img {
        width: 100%;
    }

    .inspiring-section{
        grid-column: 3/4;
        grid-row: 3/4;
        width: 100%;
    }

    .inspiring-title{
         padding: 10%;
     }



    footer{
        margin-top: 2%;
    }

    .contacts{
        margin: 5% 10% 5% 10%;
    }
}




